@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.title{
  font-family: 'Annie Use Your Telescope', cursive !important;
  font-size: 40pt;
}

.editbar input{
  width: 350px;
}

.topnav {
  overflow: hidden;
}

.topnav div {
  float: right !important;
  padding: 20px
}

.tarea {
  margin: 0;
  -webkit-appearance: none;
  padding: .78571429em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  outline: 0;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease,border-color .1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
  font-family: 'Playfair Display', serif !important;
}

.tarea:focus {
  outline: 0px solid transparent;
}

.des{
  font-family: 'Merienda One', cursive !important;
  font-size: 14pt;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(51, 51, 51);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-start {
  margin-top: 50px;
}

.editbar {
  border-right: 1px solid black;
  width: 420px;
  float: left;
  padding: 10px;
  height: 100vh;
  position: fixed;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.stuffs {
  margin-left: 50px;
}

#main {
  margin-left: 50px;
}

.thing {
  font-family: 'Playfair Display', serif !important;
  margin-bottom: 10px;
}

.thingcontainer * {
  font-family: 'Playfair Display', serif !important;
  margin-bottom: 10px;
}

.recipe{
  float: left;
  margin: 25px;
}

img {
    object-fit: cover;
}